<!DOCTYPE html>
<html>
    <head>
        <title>LiveGraph</title>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <div id="everything">
            <textarea name="source" id="content"></textarea>
            <select id="rankdir" name="rankdir">
                <option value="LR">Left-Right</option>
                <option value="TD">Top-Down</option>
            </select>
        </div>
        <input type="button" value="Toggle visibility" id="hide" class="hidden-print"/>
        <pre id="output"></pre>
        <script src="/static/index.js"></script>
    </body>
</html>
