<!DOCTYPE html>
<html>
    <head>
        <title>LiveGraph</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <p>Hello, World!</p>
        <form method="post" action="/print">
            <textarea name="source" id="content"></textarea>
            <select id="rankdir" name="rankdir">
                <option value="LR">Left-Right</option>
                <option value="TD">Top-Down</option>
            </select>
            <input type="submit" value="Print Page"/>
        </form>
        <pre id="output"></pre>
        <script src="/static/index.js"></script>
    </body>
</html>
