<!DOCTYPE html>
<html>
    <head>
        <title>LiveGraph</title>
        <meta charset="utf8"/>
        <link rel="stylesheet" href="/static/style.css"/>
    </head>
    <body>
        <form method="post" id="everything">
            <textarea name="source" id="content"></textarea>
            <select id="rankdir" name="rankdir">
                <option value="LR">Left-Right</option>
                <option value="TD">Top-Down</option>
            </select>
            <select id="rendertype" name="rendertype">
                <option value="render">Render</option>
                <option value="dot">DOT source</option>
            </select>
            <input type="button" value="Download" id="download"/>
        </form>
        <input type="button" value="Toggle visibility" id="hide" class="hidden-print"/>
        <pre id="output"></pre>
        <script src="/static/index.js"></script>
    </body>
</html>
